@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#studentData{
  margin-left: auto;
  margin-right: auto;
}

input[type=checkbox], input[type=radio] {
  margin: 5px 10px;
}

.searchForm {
  width: 230px;
  margin: 50px auto;
}

.table {
  margin-top: 150px
}
